// ==================================================
// About
// ==================================================
.about {
  @extend .day;
  background-color: $grey-lightest;
}

// Header
// ==================================================
.about-header {

}

// Title
// ==================================================
.about-title-wrap {
  text-align: center;
}

.about-title {
  @include serif;
  margin-bottom: em-calc(20);
}

.about-title-head {
  font-size: 2.5em;
  font-style: italic;
  font-weight: 700;
  display: block
}

.about-title-tail {
  font-size: 1em;
  font-style: italic;
  letter-spacing: 0.22em;
  text-transform: uppercase;
  position: relative;
  left: em-calc(1);
}

// Description
// ==================================================
.about-description {
  color: $grey-darker;
  line-height: 1.3;
  letter-spacing: -0.02em;
  max-width: em-calc(500);
  margin-left: auto;
  margin-right: auto;

  p:first-child {
    margin-bottom: 0.5em;
  }
}

// Responsive
// ==================================================
@include mq(medium) {
  .container--about {
    display: flex;
    justify-content: center;
  }

  .about-title-wrap {
    text-align: right;
    flex: 0 0 em-calc(210);
    margin-right: em-calc(50);
  }

  .about-description {
    flex: 1;
    max-width: em-calc(400);
    margin-left: 0;
    margin-right: 0;
  }

  .about-title {
    margin-top: em-calc(-15);
    margin-bottom: 0;
  }

  .about-title-head {
    font-size: em-calc(48);
  }

  .about-title-tail {
    $font-size: 19;

    font-size: em-calc($font-size);
    letter-spacing: 0.23em;
    left: em-calc(3.5, $font-size);
  }
}

@include mq(mid) {
  .about-title-head {
    font-size: em-calc(64);
  }

  .about-title-tail {
    $font-size: 22;

    font-size: em-calc($font-size);
    letter-spacing: 0.355em;
    left: em-calc(6, $font-size);
  }

  .about-title-wrap {
    flex-basis: em-calc(270);
    margin-right: em-calc(70);
  }
}