// ==================================================
// Day
// ==================================================
.day {
  
}

// Number
// ==================================================
.day-number {
  font-weight: 700;
  text-align: center;
  border-bottom: 3px solid $grey-darkest;
  display: inline-block;
  width: em-calc(35);
  padding-bottom: em-calc(10);
}

// Scripture
// ==================================================
.day-scripture {
  max-width: em-calc(map-get($mq-breakpoints, xlarge));
  margin-left: auto;
  margin-right: auto;
  @include clearfix;
}

// Info
// ==================================================
$day-info-font-size: 12;

.day-info {
  font-size: em-calc($day-info-font-size);
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
}

// Reference
// ==================================================
.day-reference {
  
}

.day-reference-link {
  
}

// Font
// ==================================================
.day-font {
  line-height: 1.4;
}

.day-font-link {

}

// Responsive
// ==================================================
$day-spacing-y: 40;

.day {
  padding: em-calc($day-spacing-y 15);
}
.day-number {
  margin-bottom: em-calc($day-spacing-y * 1.4);
}
.day-info {
  margin-top: em-calc($day-spacing-y * 1.4, $day-info-font-size);
}

@include mq(small) {
  $day-spacing-y: 50;

  .day {
    padding: em-calc($day-spacing-y 30);
  }
  .day-number {
    margin-bottom: em-calc($day-spacing-y * 1.3);
  }
  .day-info {
    margin-top: em-calc($day-spacing-y * 1.3, $day-info-font-size);
  }
}
@include mq(medium) {
  $day-spacing-y: 60;

  .day {
    padding: em-calc($day-spacing-y 55)
  }
  .day-number {
    font-size: 1.05em;
    margin-bottom: em-calc($day-spacing-y * 1.2);
  }
  .day-info {
    margin-top: em-calc($day-spacing-y * 1.2, $day-info-font-size);
  }
}
@include mq(mid) {
  $day-spacing-y: 70;

  .day {
    padding: em-calc($day-spacing-y 75)
  }
  .day-number {
    margin-bottom: em-calc($day-spacing-y * 1.1);
  }
  .day-info {
    margin-top: em-calc($day-spacing-y * 1.1, $day-info-font-size);
  }
}
@include mq(large) {
  $day-spacing-y: 80;

  .day {
    padding: em-calc($day-spacing-y 90);
  }
  .day-number {
    font-size: 1.1em;
    margin-bottom: em-calc($day-spacing-y);
  }
  .day-info {
    margin-top: em-calc($day-spacing-y, $day-info-font-size);
  }
}