// ==================================================
// Day
// ==================================================
.day {
  
}

// Number
// ==================================================
.day-number {
  font-weight: 700;
  color: $grey-darkest;
  text-align: center;
  border-bottom: 3px solid $grey-darkest;
  display: inline-block;
  width: em-calc(35);
  padding-bottom: em-calc(10);
}

.day-number--white {
  color: $white;
  border-bottom-color: $white;
}

// Scripture
// ==================================================
.day-scripture {
  max-width: em-calc(map-get($mq-breakpoints, xlarge));
  margin-left: auto;
  margin-right: auto;
  @include clearfix;
}

// Info
// ==================================================
$day-info-font-size: 12;

.day-info {
  font-size: em-calc($day-info-font-size);
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
}

// Scripture
// ==================================================
.day-scripture {
  
}

// Text
// ==================================================
.day-text {

}

// Reference
// ==================================================
.day-reference {
  display: block;
}

.day-reference-link {
  
}

// Font
// ==================================================
.day-font {
  line-height: 1.4;
}

.day-font-link {

}

// Next
// ==================================================
.day-next {
  $arrow-size: 15;
  $block-size: 200;

  width: em-calc($arrow-size);
  height: em-calc($arrow-size);
  border-color: $grey-darkest;
  border-style: solid;
  border-width: 0 3px 3px 0;
  display: block;
  transform: rotate(45deg);
  transition: transform 0.1s ease;
  text-indent: 999px;
  position: relative;
  top: em-calc(25);
  margin-left: auto;
  margin-right: auto;
  // position: absolute;
  // left: 50%;
  // margin-left: em-calc($arrow-size / 2 * -1);

  &::before {
    content: "";
    width: em-calc($block-size);
    height: em-calc($arrow-size * 2);
    display: block;
    position: relative;
    top: em-calc($arrow-size / 3 * -1);
    left: em-calc($arrow-size / 3 * -1);
    transform: rotate(-45deg) translate3d(em-calc($block-size / 2 * -1), em-calc($arrow-size / 1.5), 0);
    transform-origin: top left;
  }

  &:hover {
    transform: rotate(45deg) translate3d(em-calc(2), em-calc(2), 0);
  }

  @include mq(small) {
    top: em-calc(30);
    border-color: yellow;
  }
  @include mq(medium) {
    top: em-calc(35);
    border-color: red;
  }
  @include mq(mid) {
    top: em-calc(45);
    border-color: blue;

  //   $arrow-size: 20;

  //   width: em-calc($arrow-size);
  //   height: em-calc($arrow-size);

  //   &::before {
  //     width: em-calc($block-size);
  //     height: em-calc($arrow-size * 2);
  //     top: em-calc($arrow-size / 3 * -1);
  //     left: em-calc($arrow-size / 3 * -1);
  //     transform: rotate(-45deg) translate3d(em-calc($block-size / 2 * -1), em-calc($arrow-size / 1.5), 0);
  //   }
  }
  @include mq(large) {
    top: em-calc(55);
  }
}

// Responsive
// ==================================================
$day-spacing-y: 40;

.day {
  padding: em-calc($day-spacing-y 15);
}
.day-number {
  margin-bottom: em-calc($day-spacing-y * 1.4);
}
.day-info {
  margin-top: em-calc($day-spacing-y * 1.6, $day-info-font-size);
}

@include mq(small) {
  $day-spacing-y: 50;

  .day {
    padding: em-calc($day-spacing-y 30);
  }
  .day-number {
    margin-bottom: em-calc($day-spacing-y * 1.3);
  }
  .day-info {
    margin-top: em-calc($day-spacing-y * 1.5, $day-info-font-size);
  }
}
@include mq(medium) {
  $day-spacing-y: 60;

  .day {
    padding: em-calc($day-spacing-y 55)
  }
  .day-number {
    $font-size: 17;

    font-size: em-calc($font-size);
    margin-bottom: em-calc($day-spacing-y * 1.2, $font-size);
  }
  .day-info {
    margin-top: em-calc($day-spacing-y * 1.4, $day-info-font-size);
  }
}
@include mq(mid) {
  $day-spacing-y: 70;

  .day {
    padding: em-calc($day-spacing-y 75)
  }
  .day-number {
    margin-bottom: em-calc($day-spacing-y * 1.1);
  }
  .day-info {
    margin-top: em-calc($day-spacing-y * 1.3, $day-info-font-size);
  }
}
@include mq(large) {
  $day-spacing-y: 80;

  .day {
    padding: em-calc($day-spacing-y 90);
  }
  .day-number {
    $font-size: 18;

    font-size: em-calc($font-size);
    margin-bottom: em-calc($day-spacing-y, $font-size);
  }
  .day-info {
    margin-top: em-calc($day-spacing-y * 1.2, $day-info-font-size);
  }
}