// ==================================================
// Day 32
// ==================================================
$day-32-font       : "Playfair Display", "Times New Roman", Times, serif;
$day-32-green-light: #02a676;
$day-32-green-dark : #145a5b;
$day-32-green      : #238d71;

.day--32 {
  background-color: $day-32-green-light;

  .day-scripture {
    padding-top: 1em;
    padding-bottom: 1em;
    @include mq(small) {
      padding-top: 2em;
      padding-bottom: 2em;
    }
    @include mq(medium) {
      padding-top: 3em;
      padding-bottom: 3em;
    }
    @include mq(large) {
      padding-top: 4em;
      padding-bottom: 4em;
    }
  }

  .day-text {
    font-family: $day-32-font;
    font-weight: 900;
    text-align: center;
    @include font-smoothing;
  }

  .day-reference {
    margin-top: em-calc(20);
    @include mq(medium) {
      margin-top: em-calc(30);
    }
  }

  .day-reference-link {
    font-size: em-calc(16);
    @include mq(medium) {
      font-size: em-calc(18);
    }
    @include mq(mid) {
      font-size: em-calc(20);
    }
    @include mq(large) {
      font-size: em-calc(22);
    }
    color: $day-32-green-dark;
    &:hover {
      color: $day-32-green-light;
      text-decoration: none;
    }
  }
}

.day-32-text {
  font-size: em-calc(45);
  @include mq(small) {
    font-size: em-calc(60);
  }
  @include mq(medium) {
    font-size: em-calc(80);
  }
  @include mq(mid) {
    font-size: em-calc(100);
    max-width: em-calc(600, 100);
  }
  color: $day-32-green-dark;
  text-shadow: 1px 1px 0 $day-32-green,
               2px 2px 0 $day-32-green,
               3px 3px 0 $day-32-green,
               4px 4px 0 $day-32-green,
               5px 5px 0 $day-32-green,
               6px 6px 0 $day-32-green,
               7px 7px 0 $day-32-green,
               8px 8px 0 $day-32-green,
               9px 9px 0 $day-32-green,
               10px 10px 0 $day-32-green,
               11px 11px 0 $day-32-green,
               12px 12px 0 $day-32-green,
               13px 13px 0 $day-32-green,
               14px 14px 0 $day-32-green,
               15px 15px 0 $day-32-green,
               16px 16px 0 $day-32-green,
               17px 17px 0 $day-32-green,
               18px 18px 0 $day-32-green,
               19px 19px 0 $day-32-green,
               20px 20px 0 $day-32-green,
               21px 21px 0 $day-32-green,
               22px 22px 0 $day-32-green,
               23px 23px 0 $day-32-green,
               24px 24px 0 $day-32-green,
               25px 25px 0 $day-32-green,
               26px 26px 0 $day-32-green,
               27px 27px 0 $day-32-green,
               28px 28px 0 $day-32-green,
               29px 29px 0 $day-32-green,
               30px 30px 0 $day-32-green,
               31px 31px 0 $day-32-green,
               32px 32px 0 $day-32-green,
               33px 33px 0 $day-32-green,
               34px 34px 0 $day-32-green,
               35px 35px 0 $day-32-green,
               36px 36px 0 $day-32-green,
               37px 37px 0 $day-32-green,
               38px 38px 0 $day-32-green,
               39px 39px 0 $day-32-green,
               40px 40px 0 $day-32-green,
               41px 41px 0 $day-32-green,
               42px 42px 0 $day-32-green,
               43px 43px 0 $day-32-green,
               44px 44px 0 $day-32-green,
               45px 45px 0 $day-32-green,
               46px 46px 0 $day-32-green,
               47px 47px 0 $day-32-green,
               48px 48px 0 $day-32-green,
               49px 49px 0 $day-32-green,
               50px 50px 0 $day-32-green,
               51px 51px 0 $day-32-green,
               52px 52px 0 $day-32-green,
               53px 53px 0 $day-32-green,
               54px 54px 0 $day-32-green,
               55px 55px 0 $day-32-green,
               56px 56px 0 $day-32-green,
               57px 57px 0 $day-32-green,
               58px 58px 0 $day-32-green,
               59px 59px 0 $day-32-green,
               60px 60px 0 $day-32-green,
               61px 61px 0 $day-32-green,
               62px 62px 0 $day-32-green,
               63px 63px 0 $day-32-green,
               64px 64px 0 $day-32-green,
               65px 65px 0 $day-32-green,
               66px 66px 0 $day-32-green,
               67px 67px 0 $day-32-green,
               68px 68px 0 $day-32-green,
               69px 69px 0 $day-32-green,
               70px 70px 0 $day-32-green,
               71px 71px 0 $day-32-green,
               72px 72px 0 $day-32-green,
               73px 73px 0 $day-32-green,
               74px 74px 0 $day-32-green,
               75px 75px 0 $day-32-green,
               76px 76px 0 $day-32-green,
               77px 77px 0 $day-32-green,
               78px 78px 0 $day-32-green,
               79px 79px 0 $day-32-green,
               80px 80px 0 $day-32-green,
               81px 81px 0 $day-32-green,
               82px 82px 0 $day-32-green,
               83px 83px 0 $day-32-green,
               84px 84px 0 $day-32-green,
               85px 85px 0 $day-32-green,
               86px 86px 0 $day-32-green,
               87px 87px 0 $day-32-green,
               88px 88px 0 $day-32-green,
               89px 89px 0 $day-32-green,
               90px 90px 0 $day-32-green,
               91px 91px 0 $day-32-green,
               92px 92px 0 $day-32-green,
               93px 93px 0 $day-32-green,
               94px 94px 0 $day-32-green,
               95px 95px 0 $day-32-green,
               96px 96px 0 $day-32-green,
               97px 97px 0 $day-32-green,
               98px 98px 0 $day-32-green,
               99px 99px 0 $day-32-green,
               100px 100px 0 $day-32-green,
               101px 101px 0 $day-32-green,
               102px 102px 0 $day-32-green,
               103px 103px 0 $day-32-green,
               104px 104px 0 $day-32-green,
               105px 105px 0 $day-32-green,
               106px 106px 0 $day-32-green,
               107px 107px 0 $day-32-green,
               108px 108px 0 $day-32-green,
               109px 109px 0 $day-32-green,
               110px 110px 0 $day-32-green,
               111px 111px 0 $day-32-green,
               112px 112px 0 $day-32-green,
               113px 113px 0 $day-32-green,
               114px 114px 0 $day-32-green,
               115px 115px 0 $day-32-green,
               116px 116px 0 $day-32-green,
               117px 117px 0 $day-32-green,
               118px 118px 0 $day-32-green,
               119px 119px 0 $day-32-green,
               120px 120px 0 $day-32-green,
               121px 121px 0 $day-32-green,
               122px 122px 0 $day-32-green,
               123px 123px 0 $day-32-green,
               124px 124px 0 $day-32-green,
               125px 125px 0 $day-32-green,
               126px 126px 0 $day-32-green,
               127px 127px 0 $day-32-green,
               128px 128px 0 $day-32-green,
               129px 129px 0 $day-32-green,
               130px 130px 0 $day-32-green,
               131px 131px 0 $day-32-green,
               132px 132px 0 $day-32-green,
               133px 133px 0 $day-32-green,
               134px 134px 0 $day-32-green,
               135px 135px 0 $day-32-green,
               136px 136px 0 $day-32-green,
               137px 137px 0 $day-32-green,
               138px 138px 0 $day-32-green,
               139px 139px 0 $day-32-green,
               140px 140px 0 $day-32-green,
               141px 141px 0 $day-32-green,
               142px 142px 0 $day-32-green,
               143px 143px 0 $day-32-green,
               144px 144px 0 $day-32-green,
               145px 145px 0 $day-32-green,
               146px 146px 0 $day-32-green,
               147px 147px 0 $day-32-green,
               148px 148px 0 $day-32-green,
               149px 149px 0 $day-32-green,
               150px 150px 0 $day-32-green,
               151px 151px 0 $day-32-green,
               152px 152px 0 $day-32-green,
               153px 153px 0 $day-32-green,
               154px 154px 0 $day-32-green,
               155px 155px 0 $day-32-green,
               156px 156px 0 $day-32-green,
               157px 157px 0 $day-32-green,
               158px 158px 0 $day-32-green,
               159px 159px 0 $day-32-green,
               160px 160px 0 $day-32-green,
               161px 161px 0 $day-32-green,
               162px 162px 0 $day-32-green,
               163px 163px 0 $day-32-green,
               164px 164px 0 $day-32-green,
               165px 165px 0 $day-32-green,
               166px 166px 0 $day-32-green,
               167px 167px 0 $day-32-green,
               168px 168px 0 $day-32-green,
               169px 169px 0 $day-32-green,
               140px 140px 0 $day-32-green,
               171px 171px 0 $day-32-green,
               172px 172px 0 $day-32-green,
               173px 173px 0 $day-32-green,
               174px 174px 0 $day-32-green,
               175px 175px 0 $day-32-green,
               176px 176px 0 $day-32-green,
               177px 177px 0 $day-32-green,
               178px 178px 0 $day-32-green,
               179px 179px 0 $day-32-green,
               180px 180px 0 $day-32-green,
               181px 181px 0 $day-32-green,
               182px 182px 0 $day-32-green,
               183px 183px 0 $day-32-green,
               184px 184px 0 $day-32-green,
               185px 185px 0 $day-32-green,
               186px 186px 0 $day-32-green,
               187px 187px 0 $day-32-green,
               188px 188px 0 $day-32-green,
               189px 189px 0 $day-32-green,
               190px 190px 0 $day-32-green,
               191px 191px 0 $day-32-green,
               192px 192px 0 $day-32-green,
               193px 193px 0 $day-32-green,
               194px 194px 0 $day-32-green,
               195px 195px 0 $day-32-green,
               196px 196px 0 $day-32-green,
               197px 197px 0 $day-32-green,
               198px 198px 0 $day-32-green,
               199px 199px 0 $day-32-green,
               200px 200px 0 $day-32-green,
               201px 201px 0 $day-32-green,
               202px 202px 0 $day-32-green,
               203px 203px 0 $day-32-green,
               204px 204px 0 $day-32-green,
               205px 205px 0 $day-32-green,
               206px 206px 0 $day-32-green,
               207px 207px 0 $day-32-green,
               208px 208px 0 $day-32-green,
               209px 209px 0 $day-32-green,
               210px 210px 0 $day-32-green,
               211px 211px 0 $day-32-green,
               212px 212px 0 $day-32-green,
               213px 213px 0 $day-32-green,
               214px 214px 0 $day-32-green,
               215px 215px 0 $day-32-green,
               216px 216px 0 $day-32-green,
               217px 217px 0 $day-32-green,
               218px 218px 0 $day-32-green,
               219px 219px 0 $day-32-green,
               220px 220px 0 $day-32-green,
               221px 221px 0 $day-32-green,
               222px 222px 0 $day-32-green,
               223px 223px 0 $day-32-green,
               224px 224px 0 $day-32-green,
               225px 225px 0 $day-32-green,
               226px 226px 0 $day-32-green,
               227px 227px 0 $day-32-green,
               228px 228px 0 $day-32-green,
               229px 229px 0 $day-32-green,
               230px 230px 0 $day-32-green,
               231px 231px 0 $day-32-green,
               232px 232px 0 $day-32-green,
               233px 233px 0 $day-32-green,
               234px 234px 0 $day-32-green,
               235px 235px 0 $day-32-green,
               236px 236px 0 $day-32-green,
               237px 237px 0 $day-32-green,
               238px 238px 0 $day-32-green,
               239px 239px 0 $day-32-green,
               240px 240px 0 $day-32-green,
               241px 241px 0 $day-32-green,
               242px 242px 0 $day-32-green,
               243px 243px 0 $day-32-green,
               244px 244px 0 $day-32-green,
               245px 245px 0 $day-32-green,
               246px 246px 0 $day-32-green,
               247px 247px 0 $day-32-green,
               248px 248px 0 $day-32-green,
               249px 249px 0 $day-32-green,
               250px 250px 0 $day-32-green,
               251px 251px 0 $day-32-green,
               252px 252px 0 $day-32-green,
               253px 253px 0 $day-32-green,
               254px 254px 0 $day-32-green,
               255px 255px 0 $day-32-green,
               256px 256px 0 $day-32-green,
               257px 257px 0 $day-32-green,
               258px 258px 0 $day-32-green,
               259px 259px 0 $day-32-green,
               260px 260px 0 $day-32-green,
               261px 261px 0 $day-32-green,
               262px 262px 0 $day-32-green,
               263px 263px 0 $day-32-green,
               264px 264px 0 $day-32-green,
               265px 265px 0 $day-32-green,
               266px 266px 0 $day-32-green,
               267px 267px 0 $day-32-green,
               268px 268px 0 $day-32-green,
               269px 269px 0 $day-32-green,
               270px 270px 0 $day-32-green,
               271px 271px 0 $day-32-green,
               272px 272px 0 $day-32-green,
               273px 273px 0 $day-32-green,
               274px 274px 0 $day-32-green,
               275px 275px 0 $day-32-green,
               276px 276px 0 $day-32-green,
               277px 277px 0 $day-32-green,
               278px 278px 0 $day-32-green,
               279px 279px 0 $day-32-green,
               280px 280px 0 $day-32-green,
               281px 281px 0 $day-32-green,
               282px 282px 0 $day-32-green,
               283px 283px 0 $day-32-green,
               284px 284px 0 $day-32-green,
               285px 285px 0 $day-32-green,
               286px 286px 0 $day-32-green,
               287px 287px 0 $day-32-green,
               288px 288px 0 $day-32-green,
               289px 289px 0 $day-32-green,
               290px 290px 0 $day-32-green,
               291px 291px 0 $day-32-green,
               292px 292px 0 $day-32-green,
               293px 293px 0 $day-32-green,
               294px 294px 0 $day-32-green,
               295px 295px 0 $day-32-green,
               296px 296px 0 $day-32-green,
               297px 297px 0 $day-32-green,
               298px 298px 0 $day-32-green,
               299px 299px 0 $day-32-green,
               280px 280px 0 $day-32-green,
               301px 301px 0 $day-32-green,
               302px 302px 0 $day-32-green,
               303px 303px 0 $day-32-green,
               304px 304px 0 $day-32-green,
               305px 305px 0 $day-32-green,
               306px 306px 0 $day-32-green,
               307px 307px 0 $day-32-green,
               308px 308px 0 $day-32-green,
               309px 309px 0 $day-32-green,
               310px 310px 0 $day-32-green,
               311px 311px 0 $day-32-green,
               312px 312px 0 $day-32-green,
               313px 313px 0 $day-32-green,
               314px 314px 0 $day-32-green,
               315px 315px 0 $day-32-green,
               316px 316px 0 $day-32-green,
               317px 317px 0 $day-32-green,
               318px 318px 0 $day-32-green,
               319px 319px 0 $day-32-green,
               320px 320px 0 $day-32-green,
               321px 321px 0 $day-32-green,
               322px 322px 0 $day-32-green,
               323px 323px 0 $day-32-green,
               324px 324px 0 $day-32-green,
               325px 325px 0 $day-32-green,
               326px 326px 0 $day-32-green,
               327px 327px 0 $day-32-green,
               328px 328px 0 $day-32-green,
               329px 329px 0 $day-32-green,
               330px 330px 0 $day-32-green,
               331px 331px 0 $day-32-green,
               332px 332px 0 $day-32-green,
               333px 333px 0 $day-32-green,
               334px 334px 0 $day-32-green,
               335px 335px 0 $day-32-green,
               336px 336px 0 $day-32-green,
               337px 337px 0 $day-32-green,
               338px 338px 0 $day-32-green,
               339px 339px 0 $day-32-green,
               340px 340px 0 $day-32-green,
               341px 341px 0 $day-32-green,
               342px 342px 0 $day-32-green,
               343px 343px 0 $day-32-green,
               344px 344px 0 $day-32-green,
               345px 345px 0 $day-32-green,
               346px 346px 0 $day-32-green,
               347px 347px 0 $day-32-green,
               348px 348px 0 $day-32-green,
               349px 349px 0 $day-32-green,
               350px 350px 0 $day-32-green,
               351px 351px 0 $day-32-green,
               352px 352px 0 $day-32-green,
               353px 353px 0 $day-32-green,
               354px 354px 0 $day-32-green,
               355px 355px 0 $day-32-green,
               356px 356px 0 $day-32-green,
               357px 357px 0 $day-32-green,
               358px 358px 0 $day-32-green,
               359px 359px 0 $day-32-green,
               360px 360px 0 $day-32-green,
               361px 361px 0 $day-32-green,
               362px 362px 0 $day-32-green,
               363px 363px 0 $day-32-green,
               364px 364px 0 $day-32-green,
               365px 365px 0 $day-32-green,
               366px 366px 0 $day-32-green,
               367px 367px 0 $day-32-green,
               368px 368px 0 $day-32-green,
               369px 369px 0 $day-32-green,
               370px 370px 0 $day-32-green,
               371px 371px 0 $day-32-green,
               372px 372px 0 $day-32-green,
               373px 373px 0 $day-32-green,
               374px 374px 0 $day-32-green,
               375px 375px 0 $day-32-green,
               376px 376px 0 $day-32-green,
               377px 377px 0 $day-32-green,
               378px 378px 0 $day-32-green,
               379px 379px 0 $day-32-green,
               380px 380px 0 $day-32-green,
               381px 381px 0 $day-32-green,
               382px 382px 0 $day-32-green,
               383px 383px 0 $day-32-green,
               384px 384px 0 $day-32-green,
               385px 385px 0 $day-32-green,
               386px 386px 0 $day-32-green,
               387px 387px 0 $day-32-green,
               388px 388px 0 $day-32-green,
               389px 389px 0 $day-32-green,
               390px 390px 0 $day-32-green,
               391px 391px 0 $day-32-green,
               392px 392px 0 $day-32-green,
               393px 393px 0 $day-32-green,
               394px 394px 0 $day-32-green,
               395px 395px 0 $day-32-green,
               396px 396px 0 $day-32-green,
               397px 397px 0 $day-32-green,
               398px 398px 0 $day-32-green,
               399px 399px 0 $day-32-green,
               400px 400px 0 $day-32-green,
               401px 401px 0 $day-32-green,
               402px 402px 0 $day-32-green,
               403px 403px 0 $day-32-green,
               404px 404px 0 $day-32-green,
               405px 405px 0 $day-32-green,
               406px 406px 0 $day-32-green,
               407px 407px 0 $day-32-green,
               408px 408px 0 $day-32-green,
               409px 409px 0 $day-32-green,
               410px 410px 0 $day-32-green,
               411px 411px 0 $day-32-green,
               412px 412px 0 $day-32-green,
               413px 413px 0 $day-32-green,
               414px 414px 0 $day-32-green,
               415px 415px 0 $day-32-green,
               416px 416px 0 $day-32-green,
               417px 417px 0 $day-32-green,
               418px 418px 0 $day-32-green,
               419px 419px 0 $day-32-green,
               420px 420px 0 $day-32-green,
               421px 421px 0 $day-32-green,
               422px 422px 0 $day-32-green,
               423px 423px 0 $day-32-green,
               424px 424px 0 $day-32-green,
               425px 425px 0 $day-32-green,
               426px 426px 0 $day-32-green,
               427px 427px 0 $day-32-green,
               428px 428px 0 $day-32-green,
               429px 429px 0 $day-32-green,
               430px 430px 0 $day-32-green,
               431px 431px 0 $day-32-green,
               432px 432px 0 $day-32-green,
               433px 433px 0 $day-32-green,
               434px 434px 0 $day-32-green,
               435px 435px 0 $day-32-green,
               436px 436px 0 $day-32-green,
               437px 437px 0 $day-32-green,
               438px 438px 0 $day-32-green,
               439px 439px 0 $day-32-green,
               440px 440px 0 $day-32-green,
               441px 441px 0 $day-32-green,
               442px 442px 0 $day-32-green,
               443px 443px 0 $day-32-green,
               444px 444px 0 $day-32-green,
               445px 445px 0 $day-32-green,
               446px 446px 0 $day-32-green,
               447px 447px 0 $day-32-green,
               448px 448px 0 $day-32-green,
               449px 449px 0 $day-32-green,
               450px 450px 0 $day-32-green,
               451px 451px 0 $day-32-green,
               452px 452px 0 $day-32-green,
               453px 453px 0 $day-32-green,
               454px 454px 0 $day-32-green,
               455px 455px 0 $day-32-green,
               456px 456px 0 $day-32-green,
               457px 457px 0 $day-32-green,
               458px 458px 0 $day-32-green,
               459px 459px 0 $day-32-green,
               460px 460px 0 $day-32-green,
               461px 461px 0 $day-32-green,
               462px 462px 0 $day-32-green,
               463px 463px 0 $day-32-green,
               464px 464px 0 $day-32-green,
               465px 465px 0 $day-32-green,
               466px 466px 0 $day-32-green,
               467px 467px 0 $day-32-green,
               468px 468px 0 $day-32-green,
               469px 469px 0 $day-32-green;
  display: inline-block;
}