// ==================================================
// Day 47
// ==================================================
$day-47-font      : Cinzel, Ramaraja, "Times New Roman", Times, serif;
$day-47-iron-dark : #51504c;
$day-47-iron-light: #817f80;

.day--47 {
  background-color: $day-47-iron-dark;
  background: radial-gradient(ellipse at top left, tint($day-47-iron-dark, 17%), $day-47-iron-dark);

  .day-scripture {
    padding-top: 1em;
    padding-bottom: 1em;
    @include mq(medium) {
      padding-top: 2em;
      padding-bottom: 2em;
    }
    @include mq(large) {
      padding-top: 3em;
      padding-bottom: 3em;
    }
  }

  .day-text {
    font-family: $day-47-font;
    color: $day-47-iron-light;
    max-width: em-calc(570);
    margin-left: auto;
    margin-right: auto;
  }

  .day-reference {
    text-align: left;
    margin-top: 2em;
  }

  @include mq(691) {
    .day-reference {
      text-align: center;
    }
  }

  .day-reference-link {
    color: shade($day-47-iron-light, 10%);
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
}

.day-47-first {
  font-size: em-calc(46);
  text-transform: lowercase;
}

.day-47-next {
  font-size: em-calc(19);
  letter-spacing: 0.007em;
  line-height: 1.3;
  display: block;
}

@include mq(mid) {
  .day--47 {
    .day-text {
      max-width: em-calc(670);
    }
  }

  .day-47-first {
    font-size: em-calc(54);
  }

  .day-47-next {
    font-size: em-calc(22);
    letter-spacing: 0.015em;
  }
}

@include mq(large) {
  .day--47 {
    .day-text {
      max-width: em-calc(780);
    }
  }

  .day-47-first {
    font-size: em-calc(63);
  }

  .day-47-next {
    font-size: em-calc(26);
    letter-spacing: 0.008em;
  }
}