// ==================================================
// Day 59
// ==================================================
$day-59-font: "Titillium Web", Helvetica, sans-serif;

.day--59 {
	background: linear-gradient(to bottom, $grey-lighter, $white);
	position: relative;
	
	.day-scripture {
		padding-top: 1em;
		padding-bottom: 1em;
		@include mq(small) {
			padding-top: 2.5em;
			padding-bottom: 2.5em;
		}
		@include mq(medium) {
			padding-top: 4em;
			padding-bottom: 4em;
		}
		@include mq(mid) {
			padding-top: 5.5em;
			padding-bottom: 5.5em;
		}
		@include mq(large) {
			padding-top: 7em;
			padding-bottom: 7em;
		}
	}

	.day-text {
		font-family: $day-59-font;
		font-weight: 900;
		text-transform: uppercase;
		@include font-smoothing;
	}

	.day-reference {
		width: em-calc(274);
		@include mq(small) {
			width: em-calc(383);
		}
		@include mq(medium) {
			width: em-calc(492);
		}
		@include mq(mid) {
			width: em-calc(600);
		}
		@include mq(large) {
			width: em-calc(710);
		}
		margin-left: auto;
		margin-right: auto;
		text-align: right;
		position: relative;
	}

	.day-reference-link {
		color: $white;
	}
}

.day-59-overlay {
	background: black;
	background: linear-gradient(-45deg, $black, $grey);
	width: 150%;
	height: 300%;
	position: absolute;
	top: -100%;
	left: -25%;
	transform: rotate(45deg) translateY(-50%);
	overflow: hidden;
}

$day-59-font-size: 50;

.day-59-first,
.day-59-next {
	font-size: em-calc($day-59-font-size);
}

.day-59-first {
	color: $black;
	text-align: center;
	display: block;
}

.day-59-next {
	text-align: center;
	color: $white;
	transform: rotate(-45deg) translateY(50%);
	transform: rotate(-45deg) translateY(calc(50% - #{em-calc(25, $day-59-font-size)}));
	display: inline-block;
	left: 50%;
	top: 100%;
	width: em-calc(284, $day-59-font-size);
	margin-top: em-calc(-28, $day-59-font-size);
	margin-left: em-calc(-146, $day-59-font-size);
	position: relative;
}

@include mq(small) {
	$day-59-font-size: 70;

	.day-59-first,
	.day-59-next {
		font-size: em-calc($day-59-font-size);
	}
}

@include mq(medium) {
	$day-59-font-size: 90;

	.day-59-first,
	.day-59-next {
		font-size: em-calc($day-59-font-size);
	}

	.day-59-next {
		margin-top: em-calc(-50, $day-59-font-size);
		margin-left: em-calc(-261, $day-59-font-size);
	}
}

@include mq(mid) {
	$day-59-font-size: 110;

	.day-59-first,
	.day-59-next {
		font-size: em-calc($day-59-font-size);
	}

	.day-59-next {
		margin-top: em-calc(-59, $day-59-font-size);
		margin-left: em-calc(-318, $day-59-font-size);
	}
}

@include mq(large) {
	$day-59-font-size: 130;

	.day-59-first,
	.day-59-next {
		font-size: em-calc($day-59-font-size);
	}
}