// ==================================================
// Day 91
// ==================================================
$day-91-font: Andada, serif;

.day--91 {
	background-color: #f4f5f6;

	.day-text {
		font-family: $day-91-font;
		text-align: center;
	}

	.day-reference {
		margin-top: em-calc(-115);
		margin-bottom: em-calc(115);
		@include mq(small) {
			margin-top: em-calc(-200);
			margin-bottom: em-calc(200);
		}
		position: relative;
		z-index: 2;
	}

	.day-reference-link {
		color: $grey-darkest;
		@include mq(small) {
			font-size: 1.1em;
		}
	}
}

.day-91-iphone-wrap {
	font-size: 0.7em;
	@include mq(small) {
		font-size: 1em;
	}
}

.day-91-iphone {
	width: em-calc(387);
	height: em-calc(790);
	display: inline-block;
	position: relative;
	filter: drop-shadow(0 0 20px rgba($black, 0.15));
}

.day-91-iphone-body {
	background-color: #eceeed;
	box-shadow: inset 0 0 8px rgba($black, 0.6);
	display: block;
	width: em-calc(382);
	height: em-calc(788);
	border-radius: em-calc(58);
	position: absolute;
	top: em-calc(1);
	left: em-calc(3);
	z-index: 1;

	&::before {
		background-color: #f7f8fa;
		border-radius: em-calc(50);
		box-shadow: 0 0 5px rgba($black, 0.2);
		content: "";
		position: absolute;
		left: em-calc(8);
		right: em-calc(8);
		top: em-calc(8);
		bottom: em-calc(8);
		z-index: 2;
	}
}

.day-91-iphone-bands {
	&,
	&::before {
		width: 100%;
		height: em-calc(12);
		background: red;
		background: linear-gradient(to right, #8a8a8c, #9b9b9d 0.5%, #ebebeb 2.5%, #ebebeb 97.5%, #9b9b9d 99.5%, #8a8a8c);
		position: absolute;
		top: em-calc(63);
		z-index: 1;
	}

	&::before {
		content: "";
		position: absolute;
		display: block;
		top: em-calc(652);
	}
}

.day-91-iphone-buttons {
	width: em-calc(5);
	height: em-calc(32);
	position: absolute;
	top: em-calc(101);
	left: 0;

	&,
	&::before,
	&::after {
		background-color: #d5d5d7;
		background: linear-gradient(to bottom, #666668, #d5d5d7 6%, #d5d5d7 50%, #e2e2e4 94%, #666668);
		border-top-left-radius: em-calc(10);
		border-bottom-left-radius: em-calc(10);
	}

	&::before,
	&::after {
		content: "";
		display: block;
		position: absolute;
		width: em-calc(5);
		height: em-calc(58);
		left: 0;
	}

	&::before {
		top: em-calc(68);
	}

	&::after {
		top: em-calc(140);
	}
}

.day-91-iphone-power {
	width: em-calc(3);
	height: em-calc(58);
	position: absolute;
	top: em-calc(169);
	right: 0;
	background-color: #d5d5d7;
	background: linear-gradient(to bottom, #666668, #d5d5d7 6%, #d5d5d7 50%, #e2e2e4 94%, #666668);
	border-top-right-radius: em-calc(10);
	border-bottom-right-radius: em-calc(10);
}

.day-91-iphone-top {
	background-color: rgba(cyan, 0.7);
	background-color: #373737;
	background: linear-gradient(to bottom, #373737, #333333, #3b3b3b);
	box-shadow: inset 0 -1px 0 #2e2e2e;
	display: block;
	position: absolute;
	top: em-calc(50);
	left: em-calc(163);
	width: em-calc(61);
	height: em-calc(6);
	border-radius: em-calc(6);
	z-index: 2;

	&::before {
		background-color: red;
		background-color: #222;
		box-shadow: inset 0 0 1px #131313;
		content: "";
		position: absolute;
		width: em-calc(9);
		height: em-calc(9);
		top: em-calc(-27);
		left: 50%;
		margin-left: em-calc(-4.5);
		border-radius: 100%;
	}
}

.day-91-iphone-camera {
	width: em-calc(14);
	height: em-calc(14);
	background-color: #1f1f21;
	background: linear-gradient(to bottom, #1b1718, #505050);
	box-shadow: inset 1px 1px 1px #0d0d0d;
	border-radius: 100%;
	position: absolute;
	left: em-calc(126);
	top: em-calc(46);
	z-index: 2;

	&::before {
		content: "";
		position: absolute;
		background-color: #003063;
		background: linear-gradient(135deg, #1044aa 15%, #163d7f 18%, #002854, #0a111d);
		box-shadow: -1px -1px 1px #0d1b27;
		width: em-calc(6);
		height: em-calc(6);
		border-radius: 100%;
		top: em-calc(4);
		left: em-calc(4);
		display: block;
	}

	&::after {
		background: rgba($white, 0.15);
		content: "";
		position: absolute;
		display: block;
		width: em-calc(3);
		height: em-calc(1.5);
		border-radius: 100%;
		top: em-calc(5);
		left: em-calc(4);
		transform: rotate(-30deg);
	}
}

.day-91-iphone-screen-frame {
	background-color: #212121;
	position: absolute;
	width: em-calc(340);
	height: em-calc(600);
	left: em-calc(24);
	top: em-calc(95);
	border-radius: em-calc(3);
	z-index: 2;
}

.day-91-iphone-screen {
	background-color: $white;
	position: absolute;
	left: em-calc(3);
	right: em-calc(3);
	top: em-calc(3);
	bottom: em-calc(3);
}

.day-91-iphone-home {
	background-color: #3c3d3f;
	background: linear-gradient(to bottom, #3c3d3f, #333436 38%, #f0f1f3 53%, #f0f1f3 75%, #cecfd1 87%, #252628 96%);
	position: absolute;
	width: em-calc(61);
	height: em-calc(61);
	border-radius: 100%;
	left: em-calc(163);
	top: em-calc(706);
	z-index: 2;

	&::before {
		content: "";
		background-color: $white;
		position: absolute;
		left: em-calc(4);
		right: em-calc(4);
		top: em-calc(4);
		bottom: em-calc(4);
		border-radius: 100%;
		box-shadow: 0 0 1px rgba($black, 0.15);
	}
}

.day-91-iphone-content {
	font-size: 16px;
	padding: em-calc(40 25);
	text-align: left;
}

.day-91-text {
	line-height: 1.2;
	@include mq(small) {
		font-size: 1.1em;
		line-height: 1.5;
	}
	display: block;

	&::before {
		content: "14";
		font-size: 0.8em;
		color: $grey-light;
		margin-right: 0.3em;
		position: relative;
		top: -0.4em;
	}

	em {
		color: #d32f2f;
		font-style: normal;
	}
}

.day-91-text + .day-91-text {
	margin-top: 2em;

	&::before {
		content: "15";
	}
}