// ==================================================
// Day 94
// ==================================================
$day-94-font  : Dosis, sans-serif;
$day-94-blue  : #1e88e5;
$day-94-red   : #e53935;
$day-94-yellow: #fdd835;

.day--94 {
	background-color: $grey-darkest;

	.day-number,
	.day-font-link {
		color: $grey-darker;
		border-color: $grey-darker;
	}

	.day-text {
		font-family: $day-94-font;
		text-align: center;
	}

	.day-reference {
		margin-top: 1.5em;
		@include mq(small) {
			margin-top: 2em;
		}
	}

	.day-reference-link {
		color: $grey;

		@include mq(small) {
			font-size: 1.05em;
		}
		@include mq(medium) {
			font-size: 1.1em;
		}
		@include mq(mid) {
			font-size: 1.15em;
		}
		@include mq(large) {
			font-size: 1.2em;
		}
	}
}

.day-94-diagram {
	@include mq(small) {
		font-size: 1.2em;
	}
	@include mq(medium) {
		font-size: 1.4em;
	}
	@include mq(mid) {
		font-size: 1.6em;
	}
	@include mq(large) {
		font-size: 1.8em;
	}
	position: relative;
	margin-bottom: em-calc(100);
	display: inline-block;

	&,
	&::before,
	&::after {
		width: em-calc(170);
		height: em-calc(170);
		border-radius: 100%;
	}

	&::before,
	&::after {
		content: "";
		display: block;
		top: em-calc(100);
		position: absolute;
	}

	background-color: rgba($day-94-blue, 0.35);

	&::before {
		background-color: rgba($day-94-red, 0.35);
		left: em-calc(-55);
	}

	&::after {
		background-color: rgba($day-94-yellow, 0.35);
		right: em-calc(-55);
	}
}

.day-94-text {
	$font-size: 20;

	font-size: em-calc($font-size);
	color: $grey-lightest;
	line-height: 1.2;
	text-shadow: 1px 1px 0 $grey-darkest;
	width: em-calc(230, $font-size);
	margin-top: em-calc(96, $font-size);
	margin-left: em-calc(-30, $font-size);
	display: inline-block;
	position: relative;
	z-index: 1;
}