// ==================================================
// Day 96
// ==================================================
$day-96-font-slab      : "Roboto Slab", serif;
$day-96-font-sans-serif: "Roboto Condensed", sans-serif;
$day-96-sea-dark       : #00b9b9;
$day-96-sea-light      : #00cdb4;

.day--96 {
	background-color: $day-96-sea-dark;
	overflow: hidden;

	.day-scripture {
		padding-top: 1em;
		padding-bottom: 1em;

		@include mq(small) {
			padding-top: 2em;
			padding-bottom: 2em;
		}
		@include mq(medium) {
			padding-top: 3em;
			padding-bottom: 3em;
		}
		@include mq(mid) {
			padding-top: 4em;
			padding-bottom: 4em;
		}
		@include mq(large) {
			padding-top: 5em;
			padding-bottom: 5em;
		}
	}

	.day-text {
		font-family: $day-96-font-slab;
	}

	.day-reference {
		text-align: center;
		padding-top: 2em;
		position: relative;
	}

	.day-reference-link {
		color: $white;
		color: rgba($white, 0.4);
	}

	.day-font {
		color: rgba($white, 0.3);
	}
}

.day-96-jesus {
	font-family: $day-96-font-sans-serif;
	font-weight: 700;
	font-size: em-calc(110);
	color: $day-96-sea-light;
	color: rgba($day-96-sea-light, 0.7);
	text-transform: uppercase;
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
}

.day-96-text {
	letter-spacing: 0.02em;
	line-height: 1.3;
	color: $white;
	text-align: center;
	width: em-calc(220);
	margin-left: auto;
	margin-right: auto;
	top: em-calc(22);
	margin-bottom: em-calc(22);
	display: block;
	position: relative;
}

@include mq(small) {
	.day-96-jesus {
		font-size: em-calc(170);
	}

	.day-96-text {
		$font-size: 17;

		font-size: em-calc($font-size);
		width: em-calc(340, $font-size);
		top: em-calc(57, $font-size);
		margin-bottom: em-calc(100, $font-size);
	}
}

@include mq(medium) {
	.day-96-jesus {
		font-size: em-calc(230);
	}

	.day-96-text {
		$font-size: 19;

		font-size: em-calc($font-size);
		width: em-calc(380, $font-size);
		top: em-calc(83, $font-size);
		margin-bottom: em-calc(147, $font-size);
	}
}

@include mq(mid) {
	.day-96-jesus {
		font-size: em-calc(270);
	}

	.day-96-text {
		$font-size: 20;

		font-size: em-calc($font-size);
		width: em-calc(400, $font-size);
		top: em-calc(100, $font-size);
		margin-bottom: em-calc(178, $font-size);
	}
}

@include mq(large) {
	.day-96-jesus {
		font-size: em-calc(330);
	}

	.day-96-text {
		$font-size: 22;

		font-size: em-calc($font-size);
		width: em-calc(440, $font-size);
		top: em-calc(127, $font-size);
		margin-bottom: em-calc(224, $font-size);
	}
}