// ==================================================
// Typography
// ==================================================

// Mixins
// ==================================================
@mixin sans-serif {
  font-family: $sans-serif;
}

@mixin serif {
  font-family: $serif;
}

// Body
// ==================================================
$body-font-color: $grey-darkest;

body {
  @include sans-serif;
  color: $body-font-color;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures;
  font-feature-settings: "liga";
}

// Anchor
// ==================================================
a {
  color: $blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

// Emphasis
// ==================================================
em,
i {
  font-style: italic;
}

// Strong
// ==================================================
strong,
b {
  font-weight: 700;
}