// ==================================================
// Variables
// ==================================================

// Fonts
// ==================================================
$sans-serif: "Karla", sans-serif;

// Colors
// ==================================================
$black        : #010203;
$white        : #fdfeff;

$grey-lightest: #fafbfc;
$grey-darkest : #222324;

$blue         : #3498db;
$orange       : #db4839;



// Transition
// ==================================================
$transition-duration: 0.1s;