// ==================================================
// Variables
// ==================================================

// Fonts
// ==================================================
$sans-serif-stack   : "Open Sans", Helvetica, Arial, sans-serif;
$serif-stack        : "Times New Roman", Times, serif;

$sans-serif-local   : KarlaLocal, $sans-serif-stack;
$sans-serif         : Karla, $sans-serif-local;
$sans-serif-fallback: KarlaLocal, Karla, $sans-serif-stack;

$serif-local        : PlayfairDisplayLocal, $serif-stack;
$serif              : "Playfair Display", $serif-local;
$serif-fallback     : PlayfairDisplayLocal, "Playfair Display", $serif-stack;

// Colors
// ==================================================
$black        : #010203;
$white        : #fdfeff;

$grey-lightest: #f2f3f4;
$grey-lighter : #cfd0d1;
$grey-light   : #adaeaf;
$grey         : #8a8b8c;
$grey-dark    : #676869;
$grey-darker  : #454647;
$grey-darkest : #222324;

$blue         : #3498db;
$orange       : #db4839;

// Transition
// ==================================================
$transition-duration: 0.1s;